@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionModel
@{
    var avion = Model.Avion;
}
<div class="text-center">
  <form method="POST">
    
    <label for="marca" class="form-label">Marca:</label>
<input type="text" class="form-control" id="marca"  placeholder="Marca" asp-for="@avion.marca" required>
    <label for="modelo" class="form-label">Modelo:</label>
    <input type="number" class="form-control" id="modelo" placeholder="Modelo" asp-for="@avion.modelo" required>
    <label for="num_asientos" class="form-label">Num_asientos: </label>
 <input type="number" class="form-control" id="num_asientos"  placeholder="Num_asientos" asp-for="@avion.num_asientos" required >
    <label for="num_baños" class="form-label">Num_baños:</label>
    <input type="number" class="form-control" id="num_baños"  placeholder="Num_baños" asp-for="@avion.num_baños" required>
    <label for="cap_max_peso" class="form-label">Cap_max_peso:</label>
 <input type="number" class="form-control" id="cap_max_peso"  placeholder="Cap_max_peso " asp-for="@avion.cap_max_peso" required>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>