@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionModel
@{
}
<h1>Listado de Aviones</h1>
<table class="table">
      <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Num_asientos </th>
      <th scope="col">Num_baños</th>
      <th scope="col">Cap_max_peso</th>
    </tr>
  </thead>
@foreach (var avion in Model.Aviones)
{
<tr>
<td>@avion.id</td>
<td>@avion.marca</td>
<td>@avion.modelo</td>
<td>@avion.num_asientos</td>
<td>@avion.num_baños</td>
<td>@avion.cap_max_peso</td>
<td>
<a class="btn btn-info" asp-page="./Details"
asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Ver</a>
<a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Editar</a>
<form method="POST">
<input type="number" class="form-control d-none" id="id"
name="id" placeholder="id" asp-for="@avion.id">
<button type="submit"class="btn btn-danger"
href="">Eliminar</button>
</form>
</td>
</tr>
}
</table>
